PORT=4000
SESSION_SECRET=3J9BI-D9b-UNgxkkH7VPt8-UG35HyoAE9-fU_57Brn4CrDVbJJ6wSnww3EzhDAFx
APP_ORIGIN=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=nazirov1804@gmail.com
SMTP_PASS=egufixykxdnxtyty
SMTP_FROM=Yemzor <nazirov1804@gmail.com>
